<h3>Héroe
  <small>{{heroe.nombre}}</small>
</h3>
<button type="button" class="btn btn-primary" [routerLink]="['/heroes']">Regresar</button>
<button type="button" class="btn btn-success" (click)="agregarNuevo(forma)">Nuevo Héroe</button>
<hr>
<div class="row animated fadeIn fast">

  <div class="col-md-12">
    <form (ngSubmit)="guardar()" #forma="ngForm">
      <div class="form-group">
        <label for="">Nombre</label>
        <input [(ngModel)]="heroe.nombre" type="text" name="nombre" class="form-control" placeholder="nombre" required>
      </div>
      <div class="form-group">
        <label for="">Casa</label>
        <select [(ngModel)]="heroe.casa" name="casa" id="" class="form-control">
          <option value="Marvel">Marvel</option>
          <option value="DC">DC</option>
        </select>
      </div>
      <div class="form-group">
        <label for="">Bio</label>
        <textarea [(ngModel)]="heroe.bio" type="text" name="bio" class="form-control" placeholder="bio" required></textarea>
      </div>
      <div class="form-group">
        <button [disabled]="!forma.valid" type="submit" class="btn btn-primary" name="button">Guardar cambios</button>
      </div>
    </form>
  </div>
</div>
