<h1>Héroes</h1>
<hr>
<div class="row animated fadeIn fast">
  <div class="col-md-12 text-right">
    <!-- <button [routerLink]="[ '/heroe', 'new' ]" type="button" class="btn btn-success" name="button">Nuevo héroe</button> -->
    <button (click)="nuevoHeroe()" type="button" class="btn btn-success" name="button">Nuevo héroe</button>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Casa</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let key of heroes | keys;let i=index">
            <th scope="row">{{i+1}}</th>
            <td>{{heroes[key].nombre}}</td>
            <td>{{heroes[key].casa}}</td>
            <td>
              <button [routerLink]="['/heroe',key]" type="button" class="btn btn-info">Editar</button>
              <button (click)="eliminarHeroe(key)" type="button" class="btn btn-danger">Eliminar</button>
            </td>
          </tr>
      </table>
      <div *ngIf="(heroes | keys).length===0 && !loading" class="alert alert-info" role="alert"><strong>No hay registros que mostrar</strong></div>
      <div *ngIf="loading" class="alert alert-info" role="warning"><strong>Cargando... por favor espere</strong></div>
    </div>
  </div>
</div>
